.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  background-color: #3c5473;
  width: 360px;
  margin-top: 20px;
  /* border: 2px solid black; */
  border-radius: 10px;
  margin-left: 20px;
}
.label {
  font-size: 14px;
  color: #d7d7d9;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 300px;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: #d7d7d9;
  padding-left: 5px;
}
.search::placeholder {
  font-size: 14px;
}
