.wrapper {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #d7d7d9;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.active {
  color: #f7d6d2;
}
